@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

.wrapper {
    margin-left: 5%;
    margin-right: 5%;
}

body {
    font-family: "PT Sans", sans-serif !important;
    -webkit-font-smoothing: antialiased;
}

nav.top-bar {
    height: 5.625rem;
    line-height: 5.625rem;
    text-align: center;
    background: #FFFFFF;
    font-size: 25px;
    font-family: "PT Sans", sans-serif !important;

}


.dark-blue-background {
    background-color: #005095;
    color: white;
    float: right;

}

.blue-background {
    background-color: #007acc;
    color: white;
}

.light-blue-background {
    background-color: #009edc;
    color: white;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #7c818c;*/
}

li {
    float: left;
    color: #5294e2;
}

li a {
    display: block;
    color: black;
    text-align: center;

    text-decoration: none;
}


.text {
    background-color: white;
    width: 1000px;

}

body {
    background-color: #f6f6f6;

}

p {
    font-family: inherit;
}

#table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95%;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table tr:hover {
    background-color: #ddd;
}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: grey;
    color: white;
}

form {
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
}

label {
    float: left;
    width: 200px;
    padding-right: 24px;
}

input {
    float: left;
    /*width: calc(100% - 200px);*/
}

#button1 {
    background-color: lightgreen;
}

#button2 {
    background-color: indianred;
}

#button3 {
    background-color: blue;
}

#outer {
    width: 100%;
    text-align: center;
}

#editH1 {
    margin-left: 5%;
    font-size: 30px;
    font-weight: bold;
}

#addDocBut {
    background-color: cornflowerblue;
    margin-left: 21%;
}

.hz-logo {
    padding: 1.25rem;
    height: 5.625rem;
    display: block;
    vertical-align: middle;
    border: none;
}

.ul > li:last-child {
    float: right;
}

.ENHZ {
    float: right;
}

.MYHZ {
    float: right;
}

.home {
    padding: 20px;
    background-color: #009edc;
    color: white;
}

.documents {
    padding: 20px;
    background-color: #007acc;
    color: white;
}

.filter {
    padding: 20px;
    background-color: #005095;
    color: white;
}

.register {
    padding: 20px;
    background-color: #005095;
    color: white;
}

.login {
    padding: 20px;
    background-color: #005095;
    color: white;
}

.logout {
    padding: 20px;
    background-color: #005095;
    color: white;
}

.text {
    margin: auto;
}

#navBar {
    margin-left: 5%;
    margin-bottom: 5%;
}

#filterOptions{
    border: black solid 1px;
    width: 13%;
    margin-right: 5%;
    float: left;
}

#tableDiv{
    float: left;
    width: 80%;
}


